.site-form {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 400px;
  padding: 20px 55px;
  border-radius: 5px;
  background-color: #ffffff;
}

.site-form__header {
  margin: 0;
  margin-bottom: 30px;
  color: #333333;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  line-height: 24px;
  text-align: center;

  &--big {
    display: block;
    margin-top: 10px;
    color: #333333;
    font-size: 22px;
    font-weight: 700;
    font-style: normal;
    line-height: 24px;
    text-align: center;
  }
}

.site-form__block {
  margin-bottom: 20px;
}

.site-form__input {
  padding: 24px 50px;
  border-radius: 5px;
  border: 1px solid #d1d1d1;
}

.site-form__button {
  padding: 16px 10px;
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  
  box-shadow: 0 1px 10px rgba(255, 153, 0, 0.4);
  border-radius: 5px;
  border: 1px solid #ffc600;
  background-color: #e8e8e8;
  background-image: linear-gradient(to bottom, #ffed26 0%, #ffb400 100%);
}

.site-form__text {
  margin: 0;
  margin-top: 20px;
  color: #666666;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  line-height: 24px;
}