.section-intro {
  background-image: url(../../img/site-intro.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 1924px 760px;
}

.section-intro__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-intro__heading {
  margin: 0;
  margin-bottom: 135px;
  color: #333333;
  font-size: 26px;
  font-weight: 700;
  line-height: 48px;
  text-align: left;

  &--big {
    display: block;
    margin-top: 35px;
    color: #333333;
    font-size: 55px;
    font-weight: 700;
    font-style: normal;
    line-height: 48px;
    text-align: left;
  }
}

.section-intro__list {
  @include reset-list;
  display: flex;
  align-items: center;
}

.section-intro__iteam:not(:last-child) {
  margin-right: 20px;
}

.section-intro__iteam {
  position: relative;
  z-index: 1;
  padding: 50px 25px 25px 25px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #ffffff;
  background-color: #0d8fe3;
  border-radius: 50%;

  &::before {
    position: absolute;
    z-index: 1;
    display: block;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    bottom: calc( 100% - 20px );
    left: 50%;
    transform: translateX(-50%);
    content: "";
  }

  &--quality::before {
    width: 42px;
    height: 52px;
    background-image: url(../../img/quality.png);
  }

  &--installation::before {
    width: 44px;
    height: 52px;
    background-image: url(../../img/installation.png);
  }

  &--warranty::before {
    width: 35px;
    height: 36px;
    background-image: url(../../img/warranty.png);
  }

  &--truck::before {
    width: 42px;
    height: 34px;
    background-image: url(../../img/truck.png);
  }
}