.section-order {
  background-color: #f7f7f7;
}

.section-order__container {
  padding-top: 80px;
  padding-bottom: 80px;
}

.section-order__heading {
  margin: 0;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #333333;
  font-size: 30px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;

  &::after {
    display: block;
    margin-top: 23px;
    width: 170px;
    height: 2px;
    background-image: url(../../img/line.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    content: "";
  }
}

.section-order__list {
  @include reset-list;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.section-order__iteam {
  display: block;
  width: 300px;
  height: 100px;
  font-size: 20px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
}

.section-order__link {
  color: #000000;
  text-decoration: none;
  border-bottom: 1px dotted #000000;
  background-color: #ffffff;
}

.section-order__link--active {
  color: #0085db;
  border: none;
  // background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
}

.exterior-finish__box {
  display: flex;
  align-items: center;
  // justify-content: space-between;
}

.exterior-finish__img {
  display: block;
  width: 300px;
  height: 440px;
}

.exterior-finish__list {
  @include reset-list;
  width: 400px;
  display: flex;
  margin-left: 35px;
  // align-items: center;
  // justify-content: space-between;
  flex-wrap: wrap;
}

.exterior-finish__iteam:not(:last-child) {
  margin-right: 35px;
}

.exterior-finish__iteam {
  margin-bottom: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &::before {
    width: 108px;
    margin-bottom: 20px;
    display: block;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    border-radius: 50%;
    content: "";
  }

  &--lining::before {
    width: 70px;
    height: 70px;
    background-image: url(../../img/lining.jpg);
  }

  &--plastic-lining::before {
    width: 70px;
    height: 70px;
    background-image: url(../../img/plastic-lining.jpg);
  }

  &--pvc-panels::before {
    width: 70px;
    height: 70px;
    background-image: url(../../img/pvc-panels.jpg);
  }

  &--laminate-flooring::before {
    width: 70px;
    height: 70px;
    background-image: url(../../img/laminate-flooring.jpg);
  }

  &--wood-flooring::before {
    width: 70px;
    height: 70px;
    background-image: url(../../img/laminate-flooring.jpg);
  }
}

.exterior-finish__name {
  margin: 0;
  margin-bottom: 10px;
  width: 90px;
  height: 11px;
  color: #000000;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
}

.exterior-finish__sum {
  // margin: 0;
  margin-bottom: 0;
  color: #0d8fe3;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
}

.exterior-finish__goods {
  margin: 0;
  color: #000000;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
}