.our-work__container {
  padding-top: 80px;
  padding-bottom: 50px;
}

.our-work__heading {
  margin: 0;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #333333;
  font-size: 30px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;

  &::after {
    display: block;
    margin-top: 23px;
    width: 170px;
    height: 2px;
    background-image: url(../../img/line.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    content: "";
  }
}

.our-work__list {
  @include reset-list;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.our-work__iteam {
  position: relative;
  z-index: 1;
  margin-bottom: 30px;

  &::before {
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    top: 43%;
    display: block;
    width: 40px;
    height: 40px;
    background-image: url(../../img/zoom-in.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    cursor: pointer;
    content: "";
  }
}

.our-work__link {
  display: block;
  width: 270px;
  height: 270px;
  overflow: hidden;
  border-radius: 10px;

  &:hover .our-work__img {
    transform: scale(1.1);
  }
}

.our-work__img {
  display: inline-block;
  width: 270px;
  height: 270px;
  transition: all 0.3s ease;
}